/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   { 
	line-height: 1.2;
}

h2, .beta    { 
	
	line-height: 1.2;

	.hmeta {
		font-weight: 200;
		font-size: $font-size-sm;
		color: $gray-med;
	}

}

h3, .gamma   { 
	line-height: 1.2;
}

h4, .delta   {
	
}

h5, .epsilon { 
	
}

h6, .zeta    { 
	
}

.section-title {
	font-weight: 400;	
}

.headline {
	// font-size: $font-size-slightly-larger;
}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
